@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap');

:root{
    --dark-cyan: hsl(185, 75%, 39%);
    --very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --dark-grayish-blue: hsl(227, 10%, 46%);
    --dark-gray: hsl(0, 0%, 59%);
}

*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    min-height: 100vh;
    background-color: var(--dark-cyan);
    position: relative;
    overflow: hidden;
    display: grid;
    place-content: center;
    font-family: 'Kumbh Sans', sans-serif;
    font-size: 18px;
}

.background-pattern-top{
    background-image: url('./images/bg-pattern-top.svg');
    background-size: cover;
    width: 800px;
    height: 800px;
    position: fixed;
    top: -400px;
    left: -180px;
}

.background-pattern-bottom{
    background-image: url('./images/bg-pattern-bottom.svg');
    background-size: cover;
    width: 850px;
    height: 850px;
    position: fixed;
    top: 345px;
    right:-180px;
}

.card{
    width: 320px;
    height: 340px;
    background-color: white;
    border-radius: 12px;
    z-index: 1;
}

.card__header{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 0px 1px var(--dark-grayish-blue);
}

.card__background{
    width: 100%;
    height: 50%;
    background-image: url('./images/bg-pattern-card.svg');
    border-radius: 10px 10px 0px 0px;
}

.card__picture{
    width: 85px;
    border-radius: 50%;
    border: 5px solid white;
    margin-top: -50px;
}



.card__user{
    display: flex;
    padding-top: 15px;
    padding-bottom: 5px;
    align-items: center;
    gap: 10px;
}

.card__name{
    color: var(--very-dark-desaturated-blue);
    font-size: 1rem;
}

.card__age,
.card__location{
    color: var(--dark-grayish-blue);
    font-size: 0.8rem;
}

.card__footer{
    height: 20%;
}

.card__stats{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.card__stat-value{
    color: var(--very-dark-desaturated-blue);
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.card__stat-label{
    color: var(--dark-grayish-blue);
    font-size: 0.7rem;
    text-align: center;
    letter-spacing: 2px;
    padding-top: 2px;
}

@media(max-width: 375px){
    .card{
        width: 300px;
    }
}
